fh-fasting-week ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: -48px auto 0 auto;
  padding: 0;
}

fh-fasting-week ul li {
  border-right: solid 1px #e0e0e0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 4px;
  padding: 0 8px 0 4px;
  width: 125px;
}

fh-fasting-week ul li:last-of-type {
  border-right: none;
}

fh-fasting-week ul li div {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px 0 8px 0;
}

fh-fasting-week ul li div p {
  color: #161616;
  font-size: 16px;  
  margin: 0;
  padding: 0;
  text-align: center;  
}

fh-fasting-week ul li div p:first-of-type {
  font-weight: 400;
  line-height: 16px;
}

fh-fasting-week ul li div p:last-of-type {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  opacity: 0.60;
  text-transform: uppercase;
}

fh-fasting-week ul li.today div p {
  color: #0379c0;
}

fh-fasting-week ul li.today div p:first-of-type {
  font-weight: 600;
}

/*
  * Error: #f87171
  * Warning: #fbbf24
  * Success: #4ade80
  */


fh-fasting-week ul li > p {
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  min-height: 56px;
  padding: 0;
  text-align: center;
}

fh-fasting-week ul li > p.fasting {
  background: #fee2e2;
  border: solid 1px #fca5a5;  
  padding: 10px 0 10px 0;
}

fh-fasting-week ul li > p.i16 span,
fh-fasting-week ul li > p.omad span,
fh-fasting-week ul li > p.fasting span {
  font-size: 12px;
  opacity: 0.60;
  display: block;
  text-transform: uppercase;
}

fh-fasting-week ul li > p.normal {
  background: #dcfce7;
  border: solid 1px #86efac;  
  line-height: 54px;  
}

fh-fasting-week ul li > p.i16,
fh-fasting-week ul li > p.omad {
  background: #fef3c7;
  border: solid 1px #fcd34d;
  padding: 10px 0 10px 0;
}

fh-fasting-week ul li > p:first-of-type {
  margin: 8px 0 0 0;
}
