@import url( './fasting-message.css' );
@import url( './fasting-week.css' );
@import url( './select.css' );

html, 
body {
  align-items: center;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

article.blog {
  margin: 0 auto;
  padding: 0;
  width: 80%;
}

article.blog > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 16px 0 16px 0;
}

article.blog h3 {
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0 0 16px 0;
}

article.blog h5 {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

article.blog p {
  font-size: 16px;
  line-height: 20px;;
}

article.blog li span {
  font-weight: 600;
}

i {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 24px;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;  
}

footer {
  background: #f4f4f4;
  margin: 32px 0 0 0;
  padding: 0;
  width: 100%;
}

footer a {
  color: #0284c7;
}

footer article {
  display: grid;
  grid-template-columns: 1fr 1fr;  
  margin: 0 auto;
  padding: 16px 0 16px 0;
  width: 80%;
}

footer p {
  margin: 0;
  padding: 0;
}

footer ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  padding: 4px 0 4px 0;
  margin: 0;
}

p.disclaimer {
  font-size: 14px; 
  opacity: 0.60; 
  padding: 16px 0 16px 0;      
  text-align: center; 
}

p.version {
  font-size: 16px; 
  padding: 16px 0 16px 0;      
  text-align: center; 
}

p.version a {
  color: #0050e6;
  text-decoration: none;
}

section {
  background: #f4f4f4;
  width: 100%;
}

section header {
  display: flex;
  flex-direction: row;
}

section header button {
  align-self: center;
  appearance: none;
  background: #0050e6;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  margin: 0;
  padding: 0 16px 0 16px;
}

section header div {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
}

section header h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}    

section header p {
  font-size: 18px;
  margin: 0;
  opacity: 0.60;
  padding: 0;
}    

section article {
  margin: 0 auto;      
  padding: 16px 0 16px 0;
  width: 80%;  
}

section:first-of-type article {
  padding: 48px 16px 98px 16px;
}
